
.carton{
    text-align:center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:20px;
    font-weight: 600;
}
.one{
    width:300px;
    height:450px;
    overflow:auto;
    display: inline-block;
    margin-left:270px;
}
.one h3{
    margin:0px;
    padding:0px
}
.one p{
    text-align:justify
}
.two{
    width:300px;
    height:450px;
    overflow:auto;
    display:inline-block;
    margin-left:200px;
    
}
.two p{
    text-align: justify;
}
.oo{
    margin:0px;
    padding:0px;
}